.slider{
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.slider .container-slider{
  width: 500px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.slider .container-slider input[type="range"]{
  width: 60%;
  -webkit-appearance: none;
  background-color: blue;
  height: 7px;
  border-radius: 5px;;
  outline: none;
  margin: 0px 10px; 
}

.slider .container-slider input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 25px;
  height: 30px;
  border-radius: 50%;
  background-color: #272262;
}

.slider .container-slider input[type="range"]::-webkit-slider-thumb:hover{

  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(255,255,255,.3),
              0px 0px 15px rgba(255,255,255,.4),
              0px 0px 20px rgba(255,255,255,.5),
              0px 0px 25px rgba(255,255,255,.6),
              0px 0px 30px rgba(255,255,255,.7)
}

.slider .container-slider .val {
  width: 65px;
  height: 35px;
  background-color: #272262;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: consolas;
  font-weight: 700;
  font-size: 15px;
  color: white;
  letter-spacing: 1.3px;
  transform: rotate(0deg);
  margin-right: 10px;
  border-radius: 40%;
}

.slider .container-slider .val::before{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  display: block;
  border: 10px solid transparent;
  border-bottom-color: #272262;
  left: -30px;
  transform: rotate(-90deg);
  margin-left: 12.5px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  color: white;
  width='20px';
}

.titulo_tab{
  color: black;  
  background-color: gray;
  font-size: 20pt;
  font-family: "Roboto Mono", monospace;
}

body {
  background-image: url(https://i.imgur.com/hH0Exib.jpg);
  /*background-image: linear-gradient(darkorange, yellow);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

button {
  font-family: "arial";
}

h2, h3, input {
  color: #272262;
  font-family: "arial";
}

h1 {
  color: #272262;
  font-family: "Palatino", "Georgia", "serif";
}

.a_ON {
  color: red;
  font-size: 50%;
  vertical-align: bottom;
  content: "+";
  background-color: transparent;
  border: 0;
  display: inline-block;
  padding: 0;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.a_OFF {
  color: red;
  font-size: 50%;
  vertical-align: bottom;
  content: "+";
  background-color: transparent;
  border: 0;
  display: inline-block;
  padding: 0;
  position: relative;
  text-decoration: none;
  cursor: none;
  pointer-events: none;
}

.infoButton:enabled{
  background-color: CornflowerBlue;
  border-color: #272262;
  color: #272262;
  width: 250px;
  padding: 7px;
  font-weight: bold;
  font-size: 10pt;
  margin-top: 10px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
  border-radius: 20px;
  border-width: 10px;
}

.infoButton:hover{
  background-color: #272262;
  color: #fff;
}

.changePlayerBtn{
  background-color: orangered;
  color: white;
  width: 33px;
  height: 33px;
  font-size: 10pt;
  border-radius: 7px;
  cursor: pointer;
  transition: all .4s ease-out;
}

.changePlayerInput{
  background-color: orangered;
  color: white;
  width: 130px;
  height: 30px;
  font-size: 9pt;
  border-radius: 7px;
}

.levelButton:enabled{
  background-color: CornflowerBlue;
  border-color: #272262;
  color: #272262;
  padding: 7px;
  font-weight: bold;
  font-size: 11pt;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
  border-radius: 20px;
  border-width: 10px;
  width: 100px;
}

.levelButton:disabled{
  background-color: CornflowerBlue;
  color: #272262;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  outline: none;
  transition: all .4s ease-out;
  border-radius: 20px;
  border-width: 10px;
  width: 100px;
}

.levelButton:hover:enabled{
  background-color: #272262;
  color: #fff;
}

.okButton:enabled{
  background-color: CornflowerBlue;
  border-color: #272262;
  color: #272262;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
  border-radius: 20px;
  border-width: 10px;
}

.okButton:disabled{
  background-color: CornflowerBlue;
  padding: 7px;
  font-weight: bold;
  font-size: 12pt;
  outline: none;
  transition: all .4s ease-out;
  border-radius: 20px;
  border-width: 10px;
}

.okButton:hover:enabled{
  background-color: #272262;
  color: #fff;
}

.marca {
  border: solid white;
  color: white;
  background-color: white; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.5s;
  cursor: pointer;
}

.marca:hover {
  background-color: black;
}

.tempo {
  text-align: left;
  color: #272262; 
}

.sucesso {
  text-align: left;
  color: red; 
}

.contador {
  text-align: center;
  color: white; 
}

.info {
  color: black;
  font-weight: bold;
  font-size: 14pt;
  width: 50%;
  font-family: "Roboto Mono", monospace;
  justify-content: center;
  background-color: #ffffff80;
  border-radius: 7px;
  box-shadow: 3px 3px 1px 0px #00000060;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.infoRank {
  color: black;
  font-weight: bold;
  font-size: 14pt;
  justify-content: left;
  background-color: #ffffff80;
  border-radius: 7px;
  box-shadow: 3px 3px 1px 0px #00000060;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 50px;
}

.ranking:enabled{
  background-color: RoyalBlue;
  border-color: #272262;
  color: #272262;
  width: 105px;
  padding: 7px;
  font-weight: bold;
  font-size: 9pt;
  margin-top: 10px;
  margin-left: 20px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

.ranking:hover{
  background-color: #272262;
  color: #fff;
}

#closeButton{
  background-color: LightSkyBlue;
  border-color: black;
  color: black;
  float: right;
  width: 100px;
  border-radius: 5px;
  border-width: 2px;
}

#closeButton:hover{
  background-color: #272262;
  color: #fff;
}

.buttonNome{
  background-color: CornflowerBlue;
  border-color: #272262;
  color: #272262;
  width: 30px;
  padding: 7px;
  font-weight: bold;
  font-size: 8pt;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
  transition: all .4s ease-out;
}

#gameInfo {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 450px;
}

#gameRank {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 450px;
}

#tableRank {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 600px;
  //margin-left: 5px;
}

#tableRank td, #customers th {
  border: 1px solid black;
  padding: 8px;
  color: Blue;
}

#tableRank tr:hover {
  background-color: CornflowerBlue;
}

#tableRank th {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
  background-color: RoyalBlue;
  color: #272262;
}
